In [1]:
import os
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# 得到包含所有SME的id，放在Series中
path = "D:/programs/grin/datasets/irish_cere/"
id_with_code = pd.read_csv(os.path.join(path, 'IDwithCode.csv'))
id_sme = id_with_code[id_with_code['Code']==2]['ID'].tolist()

In [2]:
# 创建一个空的数据字典
data_dict = {}

# 循环处理六个文件
for i in range(1, 7):
    file_name = os.path.join(path, f'File{i}.txt')
    with open(file_name, 'r') as file:
        for line in file:
            meter_id, five_digit_code, consumption = map(float, line.split())
            meter_id = int(meter_id)
            if meter_id in id_sme:
                day_code = int(five_digit_code // 100)  # 提取前三位作为Day code
                time_code = int(five_digit_code % 100) - 1  # 提取后两位并减去1，以匹配时间段
                date = datetime(2009, 1, 1) + timedelta(days=day_code - 1, minutes=time_code * 30)
                time_str = date.strftime("%Y-%m-%d %H:%M:%S")
                if time_str not in data_dict:
                    data_dict[time_str] = {}
                data_dict[time_str][str(meter_id)] = consumption

# 创建DataFrame
df = pd.DataFrame(data_dict).T
df.sort_index(axis=1, inplace=True)
df

,1021,1023,1026,1028,1050,1056,1101,1137,1142,1145,...,7258,7277,7282,7299,7348,7357,7369,7397,7427,7439
2009-07-19 03:30:00,0.000,0.402,0.067,3.067,0.358,0.776,0.054,0.318,0.184,0.014,...,0.771,6.958,2.733,0.223,5.045,0.446,1.758,0.577,0.326,0.121
2009-07-19 04:00:00,0.000,0.401,0.067,2.890,0.367,0.776,0.054,0.329,0.205,0.014,...,0.754,6.362,1.564,0.223,5.055,0.417,1.827,0.432,0.306,0.045
2009-07-19 04:30:00,0.000,0.401,0.067,2.485,0.263,0.777,0.054,0.249,0.185,0.014,...,0.750,6.114,1.598,0.223,5.035,0.434,1.792,0.476,0.461,0.089
2009-07-19 05:00:00,0.000,0.401,0.067,2.305,0.369,0.775,0.054,0.251,0.273,0.014,...,0.786,5.876,2.759,0.223,5.155,0.425,1.521,0.455,0.390,0.123
2009-07-19 05:30:00,0.000,0.401,0.067,2.190,0.119,0.722,0.053,0.294,0.235,0.014,...,0.521,5.666,1.611,0.224,5.167,0.432,1.384,0.451,0.267,0.042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-12-31 21:30:00,0.079,0.329,0.377,2.716,0.492,0.878,0.044,0.226,0.232,0.014,...,0.409,13.041,1.540,0.155,4.566,0.449,6.200,0.329,0.169,0.072
2010-12-31 22:00:00,0.080,0.325,0.377,2.664,0.331,0.796,0.044,0.228,0.233,0.014,...,0.404,12.968,3.069,0.155,4.233,0.449,8.276,0.314,0.156,0.102
2010-12-31 22:30:00,0.078,0.331,0.278,2.716,0.474,0.933,0.044,0.241,0.236,0.014,...,0.390,14.438,2.181,0.155,1.998,0.455,7.610,0.331,0.164,0.071
2010-12-31 23:00:00,0.076,0.329,0.375,2.652,4.353,26.139,0.045,0.468,0.254,0.014,...,0.419,12.462,2.300,0.154,0.603,0.429,7.132,0.362,0.158,0.099
2010-12-31 23:30:00,0.076,0.327,0.371,2.787,4.596,26.160,0.045,0.249,0.322,0.014,...,0.563,12.467,2.688,0.154,0.613,0.428,5.496,0.322,0.161,0.070

In [14]:
df.sort_index(axis=0, inplace=True)
df

,1021,1023,1026,1028,1050,1056,1101,1137,1142,1145,...,7258,7277,7282,7299,7348,7357,7369,7397,7427,7439
2009-07-14 00:00:00,0.017,0.444,0.066,2.631,0.413,0.827,0.054,0.285,0.528,0.014,...,0.906,8.207,2.396,0.221,5.330,0.411,5.359,0.471,0.561,0.135
2009-07-14 00:30:00,0.017,0.442,0.066,3.178,0.318,0.846,0.054,0.222,0.539,0.014,...,0.971,7.566,2.534,0.222,5.192,0.467,4.562,0.461,0.228,0.137
2009-07-14 01:00:00,0.017,0.441,0.066,2.599,0.412,0.823,0.053,0.350,0.615,0.014,...,1.016,7.506,2.204,0.222,5.079,0.413,3.558,0.451,0.245,0.136
2009-07-14 01:30:00,0.017,0.442,0.067,2.630,0.324,0.799,0.053,0.289,0.578,0.014,...,0.975,7.358,2.785,0.222,5.175,0.461,2.691,0.447,0.243,0.138
2009-07-14 02:00:00,0.017,0.447,0.067,2.480,0.454,0.813,0.053,0.296,0.538,0.014,...,0.983,7.065,2.642,0.222,5.188,0.391,2.615,0.485,0.240,0.127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-12-31 21:30:00,0.079,0.329,0.377,2.716,0.492,0.878,0.044,0.226,0.232,0.014,...,0.409,13.041,1.540,0.155,4.566,0.449,6.200,0.329,0.169,0.072
2010-12-31 22:00:00,0.080,0.325,0.377,2.664,0.331,0.796,0.044,0.228,0.233,0.014,...,0.404,12.968,3.069,0.155,4.233,0.449,8.276,0.314,0.156,0.102
2010-12-31 22:30:00,0.078,0.331,0.278,2.716,0.474,0.933,0.044,0.241,0.236,0.014,...,0.390,14.438,2.181,0.155,1.998,0.455,7.610,0.331,0.164,0.071
2010-12-31 23:00:00,0.076,0.329,0.375,2.652,4.353,26.139,0.045,0.468,0.254,0.014,...,0.419,12.462,2.300,0.154,0.603,0.429,7.132,0.362,0.158,0.099
2010-12-31 23:30:00,0.076,0.327,0.371,2.787,4.596,26.160,0.045,0.249,0.322,0.014,...,0.563,12.467,2.688,0.154,0.613,0.428,5.496,0.322,0.161,0.070

In [16]:
# 将DataFrame写入HDF5文件
file_name = os.path.join(path, 'cere_sme.h5')
df.to_hdf(file_name, key='data', mode='w')
# 将DataFrame写入HDF5文件并进行压缩编码
file_name = os.path.join(path, 'cere_sme_compressed.h5')
df.to_hdf(file_name, key='data', mode='w', format='fixed', complevel=3, complib='blosc')

In [5]:
# 统计DataFrame中所有元素的个数
total_elements = df.size

# 统计DataFrame中值为NaN的个数
nan_count = df.isna().sum().sum()
print("总元素个数:", total_elements)
print("值为NaN的个数:", nan_count)
print("值为NaN占比:", nan_count/total_elements)

总元素个数: 12477110
值为NaN的个数: 4320
值为NaN占比: 0.00034623402374428053

In [17]:
# 查看NaN值最多的前20行
nan_count_by_row = df.isna().sum(axis=1)
top_10_rows_with_most_nan = nan_count_by_row.nlargest(20)
top_10_rows_with_most_nan

2010-12-05 00:00:00    46
2010-12-05 00:30:00    46
2010-12-05 01:00:00    46
2010-12-05 01:30:00    46
2010-12-05 02:00:00    46
2010-12-05 02:30:00    46
2010-12-05 03:00:00    46
2010-12-05 03:30:00    46
2010-12-05 04:00:00    46
2010-12-05 04:30:00    46
2010-12-05 05:00:00    46
2010-12-05 05:30:00    46
2010-12-05 06:00:00    46
2010-12-05 06:30:00    46
2010-12-05 07:00:00    46
2010-12-05 07:30:00    46
2010-12-05 08:00:00    46
2010-12-05 08:30:00    46
2010-12-05 09:00:00    46
2010-12-05 09:30:00    46
dtype: int64