In [1]:
import os
import pandas as pd
import numpy as np

path = "D:/programs/grin/datasets/lowa/"
line_feederA = pd.read_csv(os.path.join(path, 'feederA_line.csv'))
line_feederB = pd.read_csv(os.path.join(path, 'feederB_line.csv'))
line_feederC = pd.read_csv(os.path.join(path, 'feederC_line.csv'))

In [3]:
df = pd.concat([line_feederA, line_feederB, line_feederC], axis=0)

In [5]:
df = df[['Bus A', 'Bus B', 'Length(ft.)']]

In [6]:
df

     Bus A  Bus B  Length(ft.)
0     1001   1002         2967
1     1002   1003          372
2     1002   1004          638
3     1004   1005          394
4     1005   1006         1049
..     ...    ...          ...
155   3157   3158          295
156   3158   3159          257
157   3159   3160          243
158   3160   3161          237
159   3161   3162          176

[233 rows x 3 columns]

In [7]:
file_name = os.path.join(path, 'lowa_dist.h5')
df.to_hdf(file_name, key='dist', mode='w')